<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout :: link-md-boostrap-css"></th:block>
    <style>
        a.disable {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<th:block th:replace="home :: header-nav-bar"></th:block>
<div class="container ">

    <form th:action="@{/customer}" method="get" th:value="${customers}">
        <div class="rơw">
            <div class="col-8 input-group m-3">
                <div class="form-outline col-1">
                    <input class="form-control mr-sm-2 col" id="formControlDefault" aria-label="Search" type="text"
                           name="name"><label class="form-label" for="formControlDefault">name</label>
                </div>
                <div class="form-outline col-1">
                    <input class="form-control mr-sm-2 col" id="formControlDefault1" aria-label="Search" type="text"
                           name="customerCode"><label class="form-label" for="formControlDefault1">code</label>
                </div>
                <div class="col-1">
                    <select name="customerType " class="form-select">
                        <option value="%">choose type</option>
                        <option th:each="item :${customerTypes}"
                                th:value="${item.id}"
                                th:text="${item.name}">
                        </option>
                    </select>
                </div>
                <button class="btn btn-light my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="input-group col m-3">
                <div class="col-1">
                    <select name="sort" class="form-control col">
                        <option value="name">name</option>
                        <option value="customer_code">customer code</option>
                    </select>
                </div>
                <div class="col-1">
                    <select name="dir" class="form-control col">
                        <option value="asc">asc</option>
                        <option value="desc">desc</option>
                    </select>
                </div>
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                    sort
                </button>
            </div>
        </div>
    </form>

    <table id="customers" class="table table-striped bg-light ">
        <thead class="thead-dark bg-info">
        <tr class="text-center" >
            <h1 class="text-center" style="font-family: 'Quicksand', serif">Customers</h1>
        </tr>
        <tr>
            <th class="col-1 mx-0 text-center">No</th>
            <th class="col-1 mx-0 text-center">Code</th>
            <th class="col-2 mx-0 text-center">Name</th>
            <th class="col-1 mx-0 text-center">gender</th>
            <th class="col-1 mx-0 text-center">Phone</th>
            <th class="col-1 mx-0 text-center">Type</th>
            <th class="col-2 mx-0 text-center">
                <a th:href="@{/customer/goCreate}">
                    <button class="btn btn-light my-2 my-sm-0" type="button">
                        <i class="fas fa-plus"></i>
                    </button>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${customers}">
            <td th:text="${rowStat.count}" class="mx-0 text-center"></td>
            <td th:text="${row.customerCode}" class="mx-0 text-center"></td>
            <td th:text="${row.name}" class="mx-0 text-center"></td>
            <td class="mx-0 text-center">
                <div th:if="${row.gender==0}">
                    <span>nữ</span>
                </div>
                <div th:if="${row.gender==1}">
                    <span>nam</span>
                </div>
            </td>
            <td th:text="${row.phone}" class="mx-0 text-center"></td>
            <td th:text="${row.customerType.getName()}" class="mx-0 text-center"></td>
            <td class="mx-0 text-center">
                <a th:href="@{/customer/edit(id=${row.id})}">
                    <button type="button" class="btn btn-warning">
                        <i class="fas fa-pen-nib"></i>
                    </button>
                </a>
                <button
                        th:attr="onclick=|deleteModal(${row.id}, '${row.name}')|"
                        type="button" class="btn btn-danger" data-mdb-toggle="modal"
                        data-mdb-target="#exampleModal">
                    <i class="fas fa-trash"></i>
                </button>
                <a th:href="@{/customer/detail(id=${row.id})}">
                    <button type="button" class="btn btn-info">
                        <i class="far fa-eye"></i>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <div class="col-lg-12">
            <a th:attr="class=${!customers.hasPrevious() ? 'disable' : ''} "
               th:href="@{/customer/(page=${customers.number-1},keywordName=${keywordName},keywordName=${keywordName},sort=${sortVal},dir=${dirVal})}">
                <i class="fas fa-angle-left"></i>
            </a>
            <span th:text="${customers.number+1}"></span>
            /
            <span th:text="${customers.totalPages}"></span>
            <a th:attr="class=${!customers.hasNext() ? 'disable' : ''} "
               th:href="@{/customer/(page=${customers.number+1},keywordName=${keywordName},sort=${sortVal},dir=${dirVal})}">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">CONFIRM DELETE?</h5>
                    <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/customer/delete}" method="post">
                    <div class="modal-body">
                        <!--                        <input type="hidden" name="action" value="delete">-->
                        <input type="hidden" id="id_delete" name="id">
                        <div id="name_delete"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">NO</button>
                        <button type="submit" class="btn btn-danger">YES</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="home :: footer-body"></th:block>
<th:block th:replace="layout :: link-md-boostrap-js"></th:block>
</body>
</html>
<script>
    function deleteModal(id, name) {
        document.getElementById("id_delete").value = id;
        document.getElementById("name_delete").innerText = "Name: " + name;
    }
</script>
