<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout :: link-md-boostrap-css"></th:block>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<th:block th:replace="home :: header-nav-bar"></th:block>
<div class="container col-8 my-3">
    <form th:action="@{/customer/update}" th:object="${customerDto}"
          method="post" class="form-control">
        <h1 class="text-center" style="font-family: 'Quicksand', serif">Edit Customer</h1>
        <div class="row mx-auto mb-4 mt-4">
            <input type="hidden" th:field="*{id}"/>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault" class="form-control" th:field="*{customerCode}"/>
                        <label class="form-label" for="formControlDefault">code</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('customerCode')}"
                          th:errors="*{customerCode}"></span>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault1" class="form-control" th:field="*{name}"/>
                        <label class="form-label" for="formControlDefault">Name</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault3" class="form-control" th:field="*{idCard}"/>
                        <label class="form-label" for="formControlDefault">Id Card</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></span>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="date" id="formControlDefault4" class="form-control" th:field="*{birthDay}"/>
                        <label class="form-label" for="formControlDefault">birthDay</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault5" class="form-control" th:field="*{phone}"/>
                        <label class="form-label" for="formControlDefault">phone</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault6" class="form-control" th:field="*{email}"/>
                        <label class="form-label" for="formControlDefault">email</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-6">
                    <div class="form-outline">
                        <input type="text" id="formControlDefault7" class="form-control" th:field="*{address}"/>
                        <label class="form-label" for="formControlDefault">address</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
                <div class="col-4">
                    <div class="form-outline">
                        <select th:field="*{customerType}" class="form-select">
                            <option value="">--choose customer type--</option>
                            <option th:each="item :${customerTypes}"
                                    th:value="${item.id}"
                                    th:text="${item.name}">
                            </option>
                        </select>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('customerType')}"
                          th:errors="*{customerType}"></span>
                </div>
                <div class="col-2">
                    <div class="form-outline">
                        <input type="radio" id="formControlDefault8" th:field="*{gender}" value="1"/> Nam
                        <input type="radio" id="formControlDefault11" th:field="*{gender}" value="0"/> Nữ
                        <input type="radio" id="formControlDefault12" th:field="*{gender}" value="2"/> khác
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
    </form>
</div>
<th:block th:replace="home :: footer-body"></th:block>
<th:block th:replace="layout :: link-md-boostrap-js"></th:block>
</body>
</html>