<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout :: link-md-boostrap-css"></th:block>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<th:block th:replace="home :: header-nav-bar"></th:block>
<div class="container row">
    <div class=" col-4 my-5">
        <form th:action="@{/contractDetail/save}" th:object="${contractDetailDto}"
              method="POST" class="form-control">
            <h1 class="text-center" style="font-family: 'Quicksand', serif">Create New Contract Detail</h1>
            <div class="row mx-auto mb-4 mt-4">
                <input type="hidden" th:field="*{id}"/>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="number" id="formControlDefault" class="form-control" th:field="*{quantity}"/>
                            <label class="form-label" for="formControlDefault">quantity</label>
                        </div>
                        <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <select th:field="*{attachService}" class="form-select">
                            <option value="">attach service</option>
                            <option th:each="item :${attachService}"
                                    th:value="${item.id}"
                                    th:text="${item.name}">
                            </option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('attachService')}"
                              th:errors="*{attachService}"></span>
                    </div>
                    <div class="col">
                        <select th:field="*{contract}" class="form-select">
                            <option value="">customer</option>
                            <option th:each="item :${contract}"
                                    th:value="${item.id}"
                                    th:text="${item.id}">
                            </option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('contract')}" th:errors="*{contract}"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </form>
    </div>
    <div class="col-7 mx-3">

    </div>
</div>
<th:block th:replace="home :: footer-body"></th:block>
<th:block th:replace="layout :: link-md-boostrap-js"></th:block>
</body>
</html>