<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="link-md-boostrap-css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet"/>
    </th:block>

</head>
<body>
<div th:fragment="header">
    <header>
        <!-- Navbar -->

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/goBlog">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/goBlog/}" method="get">
                                <div class="input-group">
                                    <input class="form-control mr-sm-2" aria-label="Search" placeholder="name"
                                           type="text"
                                           name="name">
                                    <button class="btn btn-light my-2 my-sm-0" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/goBlog/create}">
                                <button class="btn btn-light my-2 my-sm-0" type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!-- Background image -->
        <div
                class="p-5 text-center bg-image"
                style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
    "
        >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3"></h1>
                        <h4 class="mb-3">Write something here</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
</div>

<!--Main Navigation-->

<!--Main Layout-->
<div th:fragment="carousel">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <!--        <div class="carousel-indicators">-->
        <!--            <button-->
        <!--                    type="button"-->
        <!--                    data-mdb-target="#carouselBasicExample"-->
        <!--                    data-mdb-slide-to="0"-->
        <!--                    class="active"-->
        <!--                    aria-current="true"-->
        <!--                    aria-label="Slide 1"-->
        <!--            ></button>-->
        <!--            <button-->
        <!--                    type="button"-->
        <!--                    data-mdb-target="#carouselBasicExample"-->
        <!--                    data-mdb-slide-to="1"-->
        <!--                    aria-label="Slide 2"-->
        <!--            ></button>-->
        <!--            <button-->
        <!--                    type="button"-->
        <!--                    data-mdb-target="#carouselBasicExample"-->
        <!--                    data-mdb-slide-to="2"-->
        <!--                    aria-label="Slide 3"-->
        <!--            ></button>-->
        <!--        </div>-->

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
                     alt="Sunset Over the City"/>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                     alt="Canyon at Nigh"/>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                     alt="Cliff Above a Stormy Sea"/>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->
</div>
<!--Main Layout-->
<div th:fragment="footer">
    <footer class="text-center text-white" style="background-color: #caced1;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                data-ripple-color="light"
                        >
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                                    class="w-100"
                            />
                            <a href="#!">
                                <div
                                        class="mask"
                                        style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Images -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            my blog! thanks for your visiting!
        </div>
        <!-- Copyright -->
    </footer>
</div>
<!-- MDB -->
<th:block th:fragment="link-jquery">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</th:block>

<th:block th:fragment="link-md-boostrap-js">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js">
    </script>
</th:block>
</body>
</html>
