<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EMPLOYEE MANAGEMENT</title>
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/bootstrap/css/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <style>
        #form {
            width: 500px;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid border col-12 " style="width: 100%; padding: 0 0; background-color: #dae0e5">

    <nav class="navbar navbar-expand-lg p-2 my-0 col ">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-black-50" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/employee">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/customer">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/facility">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">Contract</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/customer" method="get">
                <input type="hidden" name="action" value="search">
                <input class="form-control mr-sm-2" placeholder="Enter employee's name" type="text"
                       name="customerName">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div align="center">
        <table class="table table-striped " id="tableCustomer"
               style="border-color: #a71d2a; margin: 0; background-color: white">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth Day</th>
                <th>Id Card</th>
                <th>Salary</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <!--                <th>Position</th>-->
                <!--                <th>Division</th>-->
                <!--                <th>Education</th>-->
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="customerList">
            <tr th:each="row,rowStat : ${employeeList}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.birthDay}"></td>
                <td th:text="${row.idCard}"></td>
                <td th:text="${row.salary}"></td>
                <td th:text="${row.phone}"></td>
                <td th:text="${row.email}"></td>
                <td th:text="${row.address}"></td>
                <!--                <td th:text="${row.position.positionName}"></td>-->
                <!--                <td th:text="${row.division.divisionName}"></td>-->
                <!--                <td th:text="${row.educationDegree.eduDegreeName}"></td>-->
                <!--                <td><a class="btn btn-primary" th:href="@{/employee/edit/{id}(id=${row.getId()})}">EDIT</a></td>-->
                <td>
                    <a id="editItem" type="button" class="btn btn-primary- editEmployee" th:href="${row.id}"
                       data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a id="deleteItem" type="button" class="btn btn-danger deleteCustomer" th:href="${row.id}"
                       data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
    <span>
        <a th:if="${employeeList.hasPrevious()}" th:href="@{/employee(page = ${employeeList.number - 1})}">Previous</a>
    </span>
            <span th:each="pageNo: ${#numbers.sequence(0,employeeList.totalPages - 1)}">
        <a th:href="@{/employee(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
            <span>
        <a th:if="${employeeList.hasNext()}" th:href="@{/employee(page = ${employeeList.number +1})}">Next</a>
    </span>
        </div>

        <!-- Modal Edit -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">EDIT EMPLOYEE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="form">
                        <form id="updateEmployee" method="post">
                            <div class="modal-body" id="modalEdit-body">
                                <input type="hidden" id="id"/>
                                <div class="form-group">
                                    <label for="position">CHOOSE POSITION:</label>
                                    <select id="position" class="form-control border-primary">
                                        <option th:each="position: ${positionList}" th:value="${position.positionId}"
                                                th:text="${position.positionName}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="division">CHOOSE DIVISION:</label>
                                    <select id="division" class="form-control border-primary">
                                        <option th:each="division: ${divisionList}" th:value="${division.divisionId}"
                                                th:text="${division.divisionName}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="educationDegree">CHOOSE EDUCATION DEGREE:</label>
                                    <select id="educationDegree" class="form-control border-primary">
                                        <option th:each="education: ${educationList}"
                                                th:value="${education.eduDegreeId}"
                                                th:text="${education.eduDegreeName}">
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label for="name">EMPLOYEE NAME</label>
                                    <input type="text" id="name"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE BIRTHDAY</label>
                                    <input type="date" id="birthDay"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE ID CARD</label>
                                    <input type="text" id="idCard"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE SALARY</label>
                                    <input type="text" id="salary"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE PHONE</label>
                                    <input type="text" id="phone"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE EMAIL</label>
                                    <input type="text" id="email"/>
                                    <!--                                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
                                </div>
                                <div>
                                    <label>EMPLOYEE ADDRESS</label>
                                    <input type="text" id="address"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal"
                                        onclick="saveEditEmployee()">Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="confirmDelete" method="post" th:action="@{/employee/delete}">
                    <div class="modal-body">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" id="id_delete" name="id">
                        <div id="name_delete"></div>
                        <div id="email_delete"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        <button type="submit" class="btn btn-danger delete">YES</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<a th:href="@{/employee/create}" target="_blank">
    <button type="button" class="btn btn-primary">Create New</button>
</a>
<p style="font-size: 2em; color: green" th:text="${message}"></p>
<script src="jquery/jquery-3.5.1.min.js"></script>
<script src="bootstrap\bootstrap\js\bootstrap.min.js"></script>
</div>
</body>
</html>

<script>

    $(document).ready(function () {

        $('#tableCustomer').on("click", ".editEmployee", function (event) {
            let a = $(this);
            let id = a.attr("href");
            $.ajax({
                type: "GET",
                url: `/api/employee/${id}`,
                success: function (data) {
                    loadDataUpdate(data)
                    // console.log(data);
                    $('#modalEdit').modal("show");
                }
            });
            event.preventDefault();
        });

        function loadDataUpdate(data) {
            document.getElementById("id").value = data.id;
            document.getElementById("name").value = data.name
            // document.getElementById("position1").value = data.position.positionName
            // document.getElementById("division").innerHTML = data.division
            // document.getElementById("educationDegree").innerHTML = data.educationDegree;
            document.getElementById("birthDay").value = data.birthDay
            document.getElementById("idCard").value = data.idCard
            document.getElementById("salary").value = data.salary
            document.getElementById("phone").value = data.phone
            document.getElementById("email").value = data.email
            document.getElementById("address").value = data.address
        }

        $('#tableCustomer').on("click", ".deleteCustomer", function (event) {
            //lay du lieu
            let a = $(this);
            let id = a.attr("href");
            // goi ajax
            $.ajax({
                type: "GET",
                //tên API
                url: `/api/employee/${id}`,
                //CHƯA LÀM REST CONTROLLER
                success: function (data) {
                    console.log(data)
                    showInfoDelete(data)
                }
            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        });



        function showInfoDelete(item) {
            document.getElementById("id_delete").value = item.id;
            document.getElementById("name_delete").innerText = "Do you want to delete " + item.name + "?";
            document.getElementById("email_delete").innerText = "Email: " + item.email;
        }

    })

    function successHandler(data) {
        debugger
        let content = '';
        for (let i = 0; i < data.length; i++) {
            content += getEmployee(data[i]);
        }
        document.getElementById('customerList').innerHTML = content;
    }

    function getEmployee(row) {
        return `            <tr>
                <td>${row.id}</td>
                <td>${row.name}</td>
                <td>${row.birthDay}</td>
                <td>${row.idCard}</td>
                <td>${row.salary}</td>
                <td>${row.phone}</td>
                <td>${row.email}</td>
                <td>${row.address}</td>
                <td>
                    <a id="editItem" type="button" class="btn btn-primary- editEmployee" href="${row.id}"
                       data-toggle="modal" data-target="#modalEdit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
                <td>
                    <a id="deleteItem" type="button" class="btn btn-danger deleteCustomer" href="${row.id}"
                       data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>`;
    }

    function saveEditEmployee() {
        let id = $('#id').val();
        let name = $('#name').val();
        let position = $('#position').val();
        let division = $('#division').val();
        let educationDegree = $('#educationDegree').val();
        let birthDay = $('#birthDay').val();
        let idCard = $('#idCard').val();
        let salary = $('#salary').val();
        let phone = $('#phone').val();
        let email = $('#email').val();
        let address = $('#address').val();
        let newEmployee = {
            id: id,
            name: name,
            position:{
                positionId:position
            },
            division:{
                divisionId:division
            },
            educationDegree: {
                eduDegreeId:educationDegree
            },
            birthDay : birthDay,
            idCard:idCard,
            salary:salary,
            phone:phone,
            email:email,
            address:address
        }
        debugger
        console.log(newEmployee)
        console.log("AAA")
        // goi ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            data: JSON.stringify(newEmployee),
            //tên API
            url: `/api/employee/update`,
            //xử lý khi thành công
            success: function(data){
                debugger
                successHandler(data)
            }

        });
        //chặn sự kiện mặc định của thẻ
        event.preventDefault();
    }
</script>