<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CREATE NEW CUSTOMER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap/css/style_create.css}">
    <style th:inline="text">
        /*body{*/
        /*background: url{[[@{/img/background-create.jpg}]]}*/
        /*no-repeat center center fixed;*/
        /*}*/
    </style>
</head>
<body>
<header>
    <nav>
        <nav class="navbar navbar-expand-lg p-2 my-0 col " style="background: #d6d8db">
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employee">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/customer">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contract</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
</header>
<div class="container-fluid" align="center">
    <div class="col-4">
        <form th:action="@{/customer/save}" th:object="${customerDto}" class="content-create-form" method="post"
              novalidate="novalidate">
            <!--            <p>-->
            <!--                <c:if test='${requestScope["message"] != null}'>-->
            <!--                    <span style="color: red" class="message">${requestScope["message"]}</span>-->
            <!--                </c:if>-->
            <!--            </p>-->
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label for="customerTypeId">Choose Customer type:</label>
                <select id="customerTypeId" th:field="*{customerType}" class="form-control border-primary">
                    <option value="">--Choose customer type--</option>
                    <option th:each="customerType: ${customerTypeList}" th:value="${customerType.id}"
                            th:text="${customerType.name}">
                    </option>
                </select>
                <p style="color: red" th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}"></p>
            </div>
            <div class="form-group">
                <label for="customerId">Enter Customer name:</label>
                <input type="text" class="form-control" id="customerId" th:field="*{name}"/>
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label for="customerBirthday">Enter Customer Birthday:</label>
                <input type="date" class="form-control" id="customerBirthday" th:field="*{birthDay}"/>
                <p style="color: red" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>
            </div>
            <div class="form-group">
                <label>Choose Customer Gender:</label>
                <input type="radio" th:field="*{gender}" value="0" checked/> Nam
                <input type="radio" th:field="*{gender}" value="1"/> Nữ
                <input type="radio" th:field="*{gender}" value=""/> khác
                <p style="color: red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
            </div>
            <div class="form-group">
                <label for="customerIdCard">Enter Customer ID Card:</label>
                <input type="text" id="customerIdCard" class="form-control" th:field="*{idCard}"/>
                <p style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
            </div>
            <div class="form-group">
                <label for="customerPhone">Enter Customer Phone Number:</label>
                <input type="text" id="customerPhone" class="form-control" th:field="*{phone}"/>
                <p style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>
            <div class="form-group">
                <label for="customerEmail">Enter Customer Email:</label>
                <input type="text" id="customerEmail" class="form-control" th:field="*{email}"/>
                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="form-group">
                <label for="customerAddress">Enter Customer Address:</label>
                <input type="text" id="customerAddress" class="form-control" th:field="*{address}"/>
                <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            </div>
            <div class="form-group">
                <label for="customerCode">Enter Customer Code:</label>
                <input type="text" id="customerCode" placeholder="KH-XXXX(X:0-9)" class="form-control"
                       th:field="*{customerCode}"/>
                <p style="color: red" th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></p>
            </div>
            <!--            <input type="hidden" value="1" class="form-control" th:field="*{status}"/>-->
            <span><button type="submit" class="btn btn-primary">SAVE</button></span>
            <span><a href="/customer" class="btn btn-danger"><< BACK</a></span>
        </form>
    </div>
</div>
</body>
</html>