<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CUSTOMER MANAGEMENT</title>
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap/bootstrap/css/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid border col-12 " style="width: 100%; padding: 0 0; background-color: #dae0e5">

    <nav class="navbar navbar-expand-lg p-2 my-0 col ">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-black-50" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/employee">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/customer">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="/facility">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black-50" href="#">Contract</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/customer" method="get">
                <input type="hidden" name="action" value="search">
                <input class="form-control mr-sm-2" placeholder="Enter customer's name" type="text"
                       name="customerName">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div align="center">
        <table class="table table-striped " id="tableCustomer"
               style="border-color: #a71d2a; margin: 0; background-color: white">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birth Day</th>
                <th>Id Card</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="customerList">
            <tr th:each="row,rowStat : ${customerList}">
                <td th:text="${row.id}"></td>
                <td th:text="${row.name}"></td>
                <td th:text="${row.birthDay}"></td>
                <td th:text="${row.idCard}"></td>
                <td th:text="${row.phone}"></td>
                <td th:text="${row.email}"></td>
                <td th:text="${row.address}"></td>
                <td>
                    <p th:if="${row.gender == 0}">Male</p>
                    <p th:if="${row.gender==1}">Female</p>
                    <p th:if="${row.gender==null}">Other</p>
                </td>
                <td><a class="btn btn-primary" th:href="@{/customer/edit/{id}(id=${row.getId()})}">EDIT</a></td>
                <td>
                    <a id="deleteItem" type="button" class="btn btn-danger deleteCustomer" th:href="${row.id}"
                       data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
    <span>
        <a th:if = "${customerList.hasPrevious()}" th:href="@{/customer(page = ${customerList.number - 1})}">Previous</a>
    </span>
            <span th:each="pageNo: ${#numbers.sequence(0,customerList.totalPages - 1)}">
        <a th:href="@{/customer(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
            <span>
        <a th:if = "${customerList.hasNext()}" th:href="@{/customer(page = ${customerList.number +1})}">Next</a>
    </span>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="confirmDelete" method="post" th:action="@{/customer/delete}">
                        <div class="modal-body">
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" id="id_delete" name="id">
                            <div id="name_delete"></div>
                            <div id="email_delete"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                            <button type="submit" class="btn btn-danger delete">YES</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a th:href="@{/customer/create}" target="_blank">
        <button type="button" class="btn btn-primary">Create New</button>
    </a>
    <p style="font-size: 2em; color: green" th:text="${message}"></p>
    <script src="jquery/jquery-3.5.1.min.js"></script>
    <script src="bootstrap\bootstrap\js\bootstrap.min.js"></script>
</div>
</body>
</html>

<script>
    $(document).ready(function () {

        $('#tableCustomer').on("click", ".deleteCustomer", function (event) {
            //lay du lieu
            let a = $(this);
            let id = a.attr("href");
            // goi ajax
            $.ajax({
                type: "GET",
                //tên API
                url: `/api/customer/${id}`,
                //CHƯA LÀM REST CONTROLLER
                success: function (data) {
                    showInfoDelete(data)
                }
            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        });

        function showInfoDelete(item) {
            document.getElementById("id_delete").value = item.id;
            document.getElementById("name_delete").innerText = "Do you want to delete " + item.name + "?";
            document.getElementById("email_delete").innerText = "Email: " + item.email;
        }
    })
</script>