<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/pay}" th:object="${cart}" method="get">
        <table id="customers" class="table table-striped bg-light ">
            <thead class="thead-dark bg-info">
            </thead>
            <tbody>
            <tr th:each="row : ${cart.products}">
                <th th:text="${row.getKey().name}" class="col-2"></th>
                <th class="col-3"><img th:src="@{${row.getKey().image}}" class="card-img-top" style="height: auto"/></th>
                <th><s><span th:text="${row.getKey().oldPrice}+'$'"></span></s></th>
                <th>
                    <h5><span class="badge badge-success d-inline" th:text="${row.getKey().price}+'$'"></span></h5>
                </th>
                <th class="col-2" th:text="${row.getKey().description}"></th>
                <th>
                    <a id="decrease_button" th:href="@{/add/__${row.getKey().id}__(action='minus')}"
                       th:text="${'-'}" style="display: inline-block">
                        +
                    </a>
                    <span th:text="${row.getValue()}"></span>
                    <a id="increase_button" th:href="@{/add/__${row.getKey().id}__(action='add')}"
                       th:text="${'+'}" style="display: inline-block">
                        -
                    </a>
                </th>
                <th>
                    <a th:href="@{/delete/__${row.getKey().id}__}">
                        <button type="button" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/pay}">
            <button type="submit" class="btn btn-success">
                PAY
            </button>
        </a>
    </form>
    <a th:href="@{/shop}">
        <button class="btn btn-danger">
            BACK TO SHOP
        </button>
    </a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>

</html>