<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>BORROWED BOOK LIST</h3>
<nav class="navbar navbar-expand-lg p-2 my-0 col ">
    <p>
        <a class="btn btn-primary" th:href="@{/book}">
            BACK TO BOOK LIST
        </a>
    </p>
</nav>
<table id = "products">
    <thead>
    <tr>
        <th>Borrow code</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Book name</th>
        <th>Return</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${borrowingCodeList}">
        <td th:text="${row.bookCode}"></td>
        <td th:text="${row.dateStart}"></td>
        <td th:text="${row.dateEnd}"></td>
        <td th:text="${row.books.getNameBooks()}"></td>
        <td>
            <a class="btn btn-danger" th:href="@{/book/{code}/return-form(code=${row.bookCode})}">RETURN</a>
        </td>

    </tr>
    </tbody>
</table>
<div><p th:text="${success}" style="color: green; font-size: 1.5em"></p></div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>