<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>RETURN BOOK</h3>
<p>
    <a th:href="@{/book}">
        BACK TO BORROWED BOOKS LIST
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/book/return-book}" th:object="${borrowingCode}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{bookCode}"/>
        <div>
            <label>BORROWING START DATE</label>
            <input type="text" th:field="*{dateStart}" readonly/>
        </div>
        <div>
            <label>BORROWING END DATE</label>
            <input type="text" th:field="*{dateEnd}" readonly/>
        </div>
        <div>
            <label>BOOK NAME</label>
            <input type="text" th:field="*{books.nameBooks}" readonly/>
        </div>
        <input type="submit" value="RETURN"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>